*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --plus: #33fc6c;
  --calculation: #E0FBE3;
  --result: #B0E2B7;
  --overlay: #96FFA450;
  --btn-bg-light: #C3F6CA;
  --btn-bg-harsh: #33FC6C;
  --btn-bg-operator: #8641ec;
  --icon-operator: #C8FFCF;
  --btn-txt: #086716;
  --ff: 'Plus Jakarta Sans', sans-serif;
}

html {
  height: 100vh;
}

body {
  background: var(--btn-bg-operator);
  color: white;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: var(--ff);
  font-size: 2rem;
  font-weight: 600;
}

.calculator {
  max-width: 600px;
  width: 390px;
  height: 650px;
  max-height: auto;
  padding: 1.1rem;
  padding-top: 3rem;
  background-image: url('./img/calc_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.calculator > img {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.screen {
  width: 100%;
  height: 150px;
  z-index: 2;
  background-color: var(--overlay);
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  justify-items: flex-end;
  overflow: hidden;
}

.calculation {
  color: var(--calculation);
  font-size: 3rem;
  overflow: hidden;
}

.result {
  color: var(--result);
  font-size: 1.8rem;
}

.screen > img {
  display: block;
  min-width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.buttons {
  height: 70%;
  width: 100%;
  margin: 0 auto;
}

.button-container {
  background-color: var(--overlay);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
  gap: .8rem;
  padding: 0.6rem;
}

.button-container button {
  border-radius: 5px;
  border: none;
  font-family: var(--fs);
  font-weight: 600;
  font-size: 1.5rem;
  border: 3px solid var(--btn-bg-light);
  cursor: pointer;
}

button[data-role="operator"] {
  background-color: var(--btn-bg-operator);
  color: var(--btn-bg-light);
}

button[data-role="number"] {
  background-color: var(--btn-bg-light);
  color: var(--btn-txt);
}

.operator7[data-role="operator"], button[data-role="delete"] {
  background-color: var(--btn-bg-light);
  color: var(--btn-txt);
}

.operator1[data-role="operator"] {
  background-color: var(--btn-bg-harsh);
  color: var(--btn-bg-operator);
}

.delete1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.operator7 {
  background-image: url("./img/percent.svg");
  background-repeat: no-repeat;
  background-position: center center;
  grid-row: 1/2;
  grid-column: 2/3;
}

.delete2 {
  background-image: url("./img/delchar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  grid-row: 1/2;
  grid-column: 3/4;
}

.operator4 {
  background-image: url("./img/divide.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 27%;
  grid-row: 1/2;
  grid-column: 4/5;
}

.number1 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.number2 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.number3 {
  grid-row: 2/3;
  grid-column: 3/4;
}

.operator3 {
  background-image: url("./img/szorzas.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24%;
  grid-row: 2;
  grid-column: 4/5;
}

.number4 {
  grid-row: 3;
  grid-column: 1/2;
}

.number5 {
  grid-row: 3;
  grid-column: 2/3;
}

.number6 {
  grid-row: 3;
  grid-column: 3/4;
}

.operator2 {
  grid-row: 3;
  grid-column: 4/5;
  position: relative;
}
.operator2::after {
  content: '';
  width: 20px;
  height: 4px;
  background-color: var(--icon-operator);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 2px;
}

.number0 {
  grid-row: 5;
  grid-column: 1/2;
}

.operator1 {
  grid-row: 4/6;
  grid-column: 4/5;
}

.operator5 {
  grid-row: 5/6;
  grid-column: 3/4;
}

.operator1, .operator5 {
  position: relative;
}

.operator1::before, .operator1::after, .operator5::before, .operator5::after {
  content: '';
  width: 20px;
  height: 4px;
  position: absolute;
}

.operator5::before {
  margin-bottom: 10px;
  top: 25px;
}

.operator5::after {
  margin-top: 10px;
  bottom: 25px;
}

.operator5::before, .operator5::after{
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
  background-color: var(--icon-operator);
}

.operator1::before, .operator1::after {
  background-color: var(--btn-bg-operator);
  /* width: 25px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.operator1::before {
  transform: rotate(90deg);
  left: 36%;
}
.operator1::after {
  top: 52.5%;
}

