*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(46, 46, 46);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.calculator-wrapper {
  width: 443px;
  height: 732px;
  margin: 0 auto;
  background: #B8FFC1;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 1em;
  /* margin-top: 1em; */
  width: 434px;
  height: 727px;
  background-image: url("./img/calculator_bg_2.png");
  background-position-x: 35%;
  background-position-y: 35%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.screen {
  width: 390px;
  height: 166px;
  background-image: url("./img/screen.png");
  margin: 0 auto;
  margin-top: 1.5em;
  border-radius: 15px;
  color: white;
}

.screen-nums {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding: .5rem;
  /* background: red; */
}

.operation {
  position: relative;
  margin: 0;
  margin-top: 2rem;
  text-align: right;
  font-size: 1.2rem;
  opacity: .6;
}

.operand {
  font-size: 4rem;
  margin: 0;
}


.buttons {
  background-image: url('/img/wtv.png');
  /* position: relative; */
  width: 97%;
  height: 80%;
  /* background-position-y: 10%; */
  /* left: -70px; */
  /* margin-top: 2rem; */
  margin: 0 auto;
  display: grid;
  /* column-gap: .005rem; */
  /* row-gap: .005rem; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* outline: 2px solid red; */
}

/* #add {
  grid-row: span 2;
  height: 200px;
} */

#wtv {}

.btn-wrapper {
  /* width: 110px;
  height: 93px; */
  /* height: 100%; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #054e10;
  font-size: 2rem;
  background-image: url("./img/pad.png");
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

div.btn-wrapper>div {
  margin: 0 auto;
  margin-top: .3em;
  margin-right: 1.1em;
  /* background: 1px solid red; */

}